@charset "utf-8";

#slideshow {
    position:relative;
    left: 85px;
    top: 11px;
    color: #FFF;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    height:398px;
    width: 622px;
}

#slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow img.active {
    z-index:10;
    opacity:1.0;
}

#slideshow img.last-active {
    z-index:9;
}

